button.button-plone-modal-close {
    font-size: 1.2em;
    font-weight: 700;
    margin-right: 0.5em;
    background-color: #cccccc;
}

#form-buttons-unsubscribe_button {
    font-size: 1.2em;
    color: #fff;
    background: #2980b9;
    border-radius: 5px;
}

body.portaltype-channel div.plone-modal-wrapper span.formHelp {
    color: #333;
}

body.portaltype-channel div.plone-modal-wrapper dl.portalMessage.error {
    color: #ff0000;
}

body.portaltype-channel div.plone-modal-wrapper div.informativa a {
    border-bottom: 1px solid red;
}

.tile.tileNewsletter {
    padding: 20px 0;
}

.tile.tileNewsletter #channel-subscribe a {
    margin: 1em;
}

.plone-modal-content .informativa {
    margin: 15px 0 30px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    height: 10em;
    overflow: auto;
}

.plone-modal-content
    .plone-modal-footer.subscribe_modal
    .pattern-modal-buttons {
    padding: 0 10px 10px 0;
}

.plone-modal-content
    .plone-modal-footer.subscribe_modal
    input#form-buttons-subscribe_submit_label {
    font-size: 1.2em;
    color: #fff;
    background: #2980b9;
    border-radius: 5px;
}

body.template-subscribe #content > .button-plone-modal-close {
    display: none;
}

body.template-subscribe #content .informativa {
    margin: 15px 0 30px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    height: 10em;
    overflow: auto;
}
