.cui table.yang-table {
    height: 100%;
    table-layout: fixed;
}

.cui table.yang-table tr {
    padding: 0;
}

.cui table.yang-table tr td {
    padding: 0px 5px;
}

.cui table.yang-table td.line-number {
    text-align: right;
    width: 4em;
}

.cui table.yang-table td.line {
    white-space: pre;
}
