/* On the desktop, this slides in from the right.
* https://www.w3schools.com/howto/howto_js_sidenav.asp
*/
@import '~@synerty/peek-plugin-base-js/src/styles/_mixins';
@import '~@synerty/peek-plugin-base-js/src/styles/_variables';

$margin: 8px;

.docdb-popup {
  position: fixed;
  z-index: 999;
  background: #fff;

  > * {
    transition: none;
  }
}

.buttons {
  margin-top: $margin;
  display: flex;
}


.dynamic-buttons {
  flex-grow: 1;
}

.dynamic-buttons > button {
  margin-right: $margin;
}

.details-buttons > button {
  margin-left: $margin;

}

.child-menu-items {
  height: 400px;
  overflow-y: scroll;
}
