/* This file is part of 'The Ember Factory', but you may copy anything from it without giving credit */

body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  margin:15px 0px 0px 0px;
  line-height: 1.3em;
  counter-reset: h1counter;
}
/* For more development about fonts, consider reading
https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Fundamentals */

.outerbox {
  max-width: 750px;
  margin: auto;
  padding: 0px 20px 0px 20px;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #444;
}

.outerbox-main {
  background-color: #FFF;
  min-height: calc(100vh - 60px);
}

.sticky {
  position: fixed;
  max-width: 750px;
  width: calc(100vw - 40px);
  top: 0;
  box-shadow: 0 1px 7px -1px #999;
}

/* push the content down so that it is not placed under the navbar and does not skip when the nav becomes sticky */
.sticky + .content {
  padding-top: 45px;
}

.header-wrap {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}

.header-img {
  grid-column: 1;
}
.header-txt {
  grid-column: 2;
  margin-left:10%;
  align-self: flex-end;
}

footer {
  background-color: #EEE;
  max-width: 750px;
}

.innerframe
{
  border-radius: 5px;
  border: thin solid;
  border-color: #999;
  padding: 10px;
  margin-top: 12px;
}

.icon{
	width:1.5em;
	height:1.5em;
	vertical-align: text-bottom;
}

.btn-icon{
	width:1.5em;
	height:1.5em;
	vertical-align: text-bottom;
	padding-right: 0.5em;
}

img{
    width:100%;
    max-width:580px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img.preview {
    max-width:100%;
}

img[src*="#example"] {
    width: 350px;
    max-width:50%;
    padding: 0 0 5px 20px;
    clear: right;
    float: right;
}

hr{
    clear: both;
    margin-bottom: 18px;
    border-top: 1px solid black;
	border-bottom: 0;
}

p{
    margin-top: 6px;
    margin-bottom: 9px;
}

h1, h2, h3, h4 {
    clear: both;
}

h1:not(.nondoc):before {
    content: counter(h1counter) ".\0000a0";
    counter-increment: h1counter;
}

h1 {
    font-size: 1.3em;
    color: #9D2747;
    margin-top: 22px;
    margin-bottom: 12px;
}

h2 {
    font-size: 1.15em;
    color: #000060;
    margin-top: 18px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.03em;
    color: #8E5E5E;
    margin-top: 12px;
    margin-bottom: 3px;
}

h4, h5 {
    font-size: 1em;
    font-weight:normal;
    font-style:oblique;
    margin-top: 6px;
    margin-bottom: 0px;
}

code {
    background-color: #EEE;
}

.error {
    color: red;
}

em{
    color: #715;
}

.compact{
    margin-top: 2px;
    margin-bottom: 1px;
}

legend{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.switches {
      margin-top:0px;
      margin-bottom:1em;
}

.switches input{
      clear: left;
      float: left;
      margin-top: 2px;
 }

.switches label{
      margin-top: 3px;
      margin-left: 20px;
      display: block;
 }

.btn {
  display: inline-block;
  background-color: #F5F5F5;
  height: 100%;
  border: 1px solid;
  margin: 0px 0px 5px 5px;
  border-color: #A55;
  border-radius: 2px;
  color: Black;
  cursor: pointer;
  padding: 0.3rem;
  font-size: 13px;
  font-family: Helvetica,Arial,sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
}

.btn-right{
  float: right;
}

.btn:hover {
  background-color: #FDC;
  color: black;
}

a[href*="#example"]{
  float: none;
  margin-left: 0;
}

a:link {
  color: #028;
}

.btn-danger {
  background-color: #6C1051;
  color: white;
  border-color: black;
}

a.btn-danger {
  color: white;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.hidden{
  display: none;
}

.clearfix {
  overflow: auto;
}

/* Tables */

table {
  border-collapse: collapse;
  margin-top: 16px;
  margin-bottom: 22px;
}

td, th {
  border: 1px solid #BBB;
  padding: 3px;
}

th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #EEE;
}

/* Move anchors so that the text scrolls up to under the sticky navbar - not useful or working? */
:target {
padding-top: 60px;
margin-top: -60px;
}

.navbar {
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 18px;
  padding: 0px 20px 6px 20px;
  font-size: 15px;
  letter-spacing: -0.015em;
  background-color: #A55;
  background-image: linear-gradient(to right, #C2001C, #D33, #E84, #FCA);
}

.navbar a {
  float: left;
  color: #E8E8E8;
  padding: 8px 3px 4px 3px;
  margin-right:20px;
  border-bottom: 1.5px solid transparent;
  border-top: 1.5px solid transparent;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgba(0,0,0, 0.2);
  color: white;
}

.navbar a.active {
  color: white;
  border-bottom: 1px solid white;
}

.navbar .dropbutton {
  display: none;
}

@media screen and (max-width: 580px) {
  .navbar a {
   display: none;
  }
  .navbar a.active {
   float: left;
   text-align: left;
   display: block;
   clear:left;
  }
  .navbar a.dropbutton {
    float: right;
    display: block;
    padding: 6px 2px 2px 2px;
    border: 0px;
    margin: 0px;
  }
  .dropdown .menu {
    clear: left;
    display: block;
    text-align: left;
  }
}

@media print {
  body {
    font-size: 12px;
  }
  .navbar {
  background-color: white;
  background-image: none;
  border-bottom: 1px solid black;
  }
  .navbar a.active {
  color: black;
  border-bottom: 1px solid black;
  }
  .sticky {
  position: static;
  box-shadow: none;
  padding-top: 10px;
  }
}