h3 small {
    color: white;
    float: right;
}

fieldset.protocol-group {
    display: inline;
}

fieldset.protocol-group label {
    padding-left: 5px;
    font-size: 80%;
    display: inline-block;
}

.validation-error {
    font-size: 80%;
    color: darkred;
}

.cui button.oper-btn {
    width: 35rem;
    max-width: 35rem;
    text-align: left;
}
