body {
    color: #333;
    background: #fff;
}


a:link, a:visited {
    color: #447e9b;
}

a:focus, a:hover {
    color: #036;
}

a.section:link, a.section:visited {
    color: #fff;
    text-decoration: none;
}

h1 {
    color: #666;
}


h3 {
    color: #666;
}

h5 {
    color: #666;
}

blockquote {
    color: #777;
    border-left: 5px solid #ddd;
}

code, pre {
    color: #666;
}

pre.literal-block {
    background: #eee;
}

code strong {
    color: #930;
}

hr {
    color: #eee;
    background-color: #eee;
}


.help, p.help, form p.help, div.help, form div.help, div.help li {
    color: #999;
}

.quiet, a.quiet:link, a.quiet:visited {
    color: #999;
}


table {
    border-color: #ccc;
}

td, th {
    border-bottom: 1px solid #eee;
}


thead th,
tfoot td {
    color: #666;
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

tfoot td {
    border-top: 1px solid #eee;
}

thead th.required {
    color: #000;
}

tr.alt {
    background: #f6f6f6;
}

tr:nth-child(odd), .row-form-errors {
    background: #fff;
}

tr:nth-child(even),
tr:nth-child(even) .errorlist,
tr:nth-child(odd) + .row-form-errors,
tr:nth-child(odd) + .row-form-errors .errorlist {
    background: #f9f9f9;
}

thead th {
    background: #f6f6f6;
}

thead th a:link, thead th a:visited {
    color: #666;
}

thead th.sorted {
    background: #eee;
}

table thead th .text a:focus, table thead th .text a:hover {
    background: #eee;
}



table thead th.sorted .sortoptions a.sortremove:after {
    color: #999;
}

table thead th.sorted .sortoptions a.sortremove:focus:after,
table thead th.sorted .sortoptions a.sortremove:hover:after {
    color: #447e9b;
}

input[type=text], input[type=password], input[type=email], input[type=url],
input[type=number], input[type=tel], textarea, select, .vTextField {
    border: 1px solid #ccc;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=url]:focus, input[type=number]:focus, input[type=tel]:focus,
textarea:focus, select:focus, .vTextField:focus {
    border-color: #999;
}


.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #79aec8;
    color: #fff;
}


.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #609ab6;
}


.button.default, input[type=submit].default, .submit-row input.default {
    background: #417690;
}

.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background: #205067;
}

.module {
    background: #fff;
}


.module h2, .module caption, .inline-group h2 {
    background: #79aec8;
    color: #fff;
}


ul.messagelist li {
    background-color: #dfd;
    color: #333;
}

ul.messagelist li.warning {
    background-color: #ffc;
}

ul.messagelist li.error {
    background-color: #ffefef;
}

.errornote {
    color: #ba2121;
    border: 1px solid #ba2121;
    background-color: #fff;
}

ul.errorlist {
    color: #ba2121;
    background: #fff;
}

.form-row.errors {
    border-bottom: 1px solid #eee;
}

.errors input, .errors select, .errors textarea,
td ul.errorlist + input, td ul.errorlist + select, td ul.errorlist + textarea {
    border: 1px solid #ba2121;
}


div.breadcrumbs {
    background: #79aec8;
    color: #c4dce8;
}

div.breadcrumbs a {
    color: #fff;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #c4dce8;
}

a.deletelink:link, a.deletelink:visited {
    color: #CC3434;
}

a.deletelink:focus, a.deletelink:hover {
    color: #993333;
}


.object-tools a:link, .object-tools a:visited {
    background: #999;
    color: #fff;
}

.object-tools a:focus, .object-tools a:hover {
    background-color: #417690;
}


#header {
    background: #417690;
    color: #ffc;
}

#header a:link, #header a:visited {
    color: #fff;
}

#branding h1 {
    color: #f5dd5d;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #f5dd5d;
}

#branding h2 {
    color: #ffc;
}

#user-tools a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#user-tools a:focus, #user-tools a:hover {
    border-bottom-color: #79aec8;
    color: #79aec8;
}


#content-related {
    background: #f8f8f8;
}

#content-related h3 {
    color: #666;
}



#content-related .module h2 {
    border-bottom: 1px solid #eaeaea;
    color: #333;
}

.delete-confirmation form input[type="submit"] {
    background: #ba2121;
    color: #fff;
}

.delete-confirmation form input[type="submit"]:active,
.delete-confirmation form input[type="submit"]:focus,
.delete-confirmation form input[type="submit"]:hover {
    background: #a41515;
}

.delete-confirmation form .cancel-link {
    background: #ddd;
}

.delete-confirmation form .cancel-link:active,
.delete-confirmation form .cancel-link:focus,
.delete-confirmation form .cancel-link:hover {
    background: #ccc;
}

