# REQUIRES
#   TAGSET

# ============================= compile_with_default_metrics ============================
compile_with_default_metrics.optimizer_cls = @Adam
compile_with_default_metrics.learning_rate = 1e-04
compile_with_default_metrics.user_provided_metrics = []
compile_with_default_metrics.tagset = %TAGSET
