# Exports:
#   MODEL_FACTORY

# REQUIRES:
#   IMAGE_ENCODER_CLS

MODEL_FACTORY = @create_model

# ============================= create_model ======================================
create_model.input_image_size = %IMAGE_SIZE
create_model.image_encoder_cls = %IMAGE_ENCODER_CLS
create_model.use_augmentation = True
create_model.n_input_channels = %INPUT_CHANNELS
create_model.hidden_size = 128
create_model.hidden_layer_dropout = 0.1
create_model.tagset = %TAGSET
