# REQUIRES:
#   TAGSET
#   DATASET_RANDOM_STATE
#   IMAGE_SIZE
#   BATCH_SIZE
#   INPUT_CHANNELS
#   DROP_REMAINDER

# ============================= RsnaPatientToDiagnose =============================
RsnaPatientToDiagnose.csv_with_labels_path = 'xray_datasets/rsna/stage_2_detailed_class_info.csv'
RsnaPatientToDiagnose.tagset = %TAGSET
RsnaPatientToDiagnose.val_size = 0.1
RsnaPatientToDiagnose.test_size = 0.2
RsnaPatientToDiagnose.random_seed = %DATASET_RANDOM_STATE

# ============================= RsnaGenerator =====================================
train/RsnaGenerator.dcm_root_directory = 'xray_datasets/rsna/stage_2_train_images'
train/RsnaGenerator.dataset_split = %DatasetSplit.TRAIN
val/RsnaGenerator.dcm_root_directory = 'xray_datasets/rsna/stage_2_train_images'
val/RsnaGenerator.dataset_split = %DatasetSplit.VAL
test/RsnaGenerator.dcm_root_directory = 'xray_datasets/rsna/stage_2_train_images'
test/RsnaGenerator.dataset_split = %DatasetSplit.TEST
RsnaGenerator.tagset = %TAGSET
RsnaGenerator.image_target_size = %IMAGE_SIZE

# ============================= RsnaDataset ========================================
RsnaDataset.batch_size = %BATCH_SIZE
RsnaDataset.target_image_shape = %IMAGE_SIZE
RsnaDataset.number_of_channels = %INPUT_CHANNELS
RsnaDataset.drop_remainder = %DROP_REMAINDER
RsnaDataset.train_generator = @train/RsnaGenerator()
RsnaDataset.val_generator = @val/RsnaGenerator()
RsnaDataset.test_generator = @test/RsnaGenerator()