# ============================= Includes =========================================
include 'resources/gin/base/rsna.cfg'
include 'resources/gin/base/augmentation.cfg'
include 'resources/gin/base/metrics.cfg'
include 'resources/gin/base/model.cfg'
include 'resources/gin/base/train.cfg'

# ============================= MACROS ============================================
TAGSET = @build_global_tagset()
DATASET_CLS = @RsnaDataset
BATCH_SIZE = 4
DROP_REMAINDER = False
IMAGE_SIZE = (512, 512)
INPUT_CHANNELS = 1
IMAGE_ENCODER_CLS = @EfficientNetB4
DATASET_RANDOM_STATE = 12345436
AUGMENTATION_RANDOM_STATE = 9234543656

# Total samples (train): 18700
# Total samples (val): 2670
# Total samples (test): 5300

TOTAL_TRAIN_STEPS = 18500#37000
STEPS_PER_EPOCH = 1850#3700
VALIDATION_STEPS = 270
TEST_STEPS = None

EfficientNetB4.input_channels = 1
