; vim: set fileencoding=utf-8 :
; Andre Anjos <andre.anjos@idiap.ch>
; Tue 02 Jun 2015 13:05:59 CEST

[buildout]
parts = scripts docker
extensions = mr.developer
auto-checkout = *
develop = .
newest = false
eggs = beat.cmdline
       beat.backend.python
       beat.core
       ipdb

[sources]
beat.core = git https://gitlab.idiap.ch/beat/beat.core
beat.backend.python = git https://gitlab.idiap.ch/beat/beat.backend.python

[scripts]
recipe = bob.buildout:scripts

[docker]
recipe = collective.recipe.cmd
cmds = ./bin/python -c 'from beat.core.test.utils import pull_docker_test_images as f; f()'
on_install = true
on_update = true
