/*
# -----------------------------------------------------------------------------
# This file was originally obtained from Faculty Science Limited under the
# Apache License, Version 2.0, and was modified by Maximilian Stahlberg.
# -----------------------------------------------------------------------------
*/

/* -----------------------------------
   Modified CSS from the Faculty Theme
   ----------------------------------- */

/* Body defaults */
body {
  /* PICOS: Changed from #1c1c1c */
  color: #222;
  background-color: #f9f9f9;
}

/* Headings */
h1, h2, h3, h4, h5, h6, legend,
.rst-content .toctree-wrapper p.caption,
.rst-content .sidebar .sidebar-title,
.rst-content .topic-title {
  font-weight: normal;
  font-family: "IBM Plex Sans", sans-serif;
}
.rst-content .topic-title {
  font-size: 24px;
}

/* PICOS: Reverted default text font to RTD */

/* Code / fixed width text */
code,
.rst-content .linenodiv pre,
.rst-content code,
.rst-content div[class^='highlight'] pre,
.rst-content footer span.commit tt,
.rst-content kbd,
.rst-content pre,
.rst-content pre.literal-block,
.rst-content samp,
.rst-content tt,
footer span.commit code,
footer span.commit .rst-content tt {
  font-family: "Roboto Mono", monospace;
  /* PICOS: Decreased from 14px */
  font-size: 13.5px;
}

/* Links */
.rst-content a, .rst-content a:visited {
  color: #fa7268;
}

/* Breadcrumbs */
.wy-breadcrumbs li.breadcrumb {
  padding-right: 5px;
}

/* Definition lists */
.rst-content dl:not(.docutils) dt {
  color: #fa7268;
  border-top: solid 3px #fa7268;
  background: #ffefee;
}

/* Page main content */
.wy-nav-content {
  background-color: #ffffff;
  padding: 26px 52px;
}
/* PICOS: Reverted .wy-nav-content-wrap to RTD */

/* Navigation bars */
.wy-nav-side, .wy-nav-top {
  background: #1c1c1c;
}
.wy-side-nav-search {
  /* PICOS: Changed from unset */
  background-color: #2f2f2f;
  padding: 13px;
}
.wy-side-nav-search > a {
  color: #ffffff;
}
.wy-nav-side {
  padding-bottom: 0px;
}

/* Navifation menu */
.wy-menu-vertical header, .wy-menu-vertical p.caption {
  font-size: 17px;
  font-weight: normal;
  text-transform: unset;
  color: #ffffff;
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: 4px;
}
.wy-menu-vertical a {
  color: #c0c0c0;
  padding-left: 23px;
  padding-right: 23px;
}
.wy-menu-vertical li.current > a {
  color: #1c1c1c;
  background-color: #ffffff;
}
.wy-menu-vertical li.toctree-l2 a,
.wy-menu-vertical li.toctree-l3 a,
.wy-menu-vertical li.toctree-l4 a {
  color: #1c1c1c;
}

/* Logo and project title */
.wy-side-nav-search > a.heading {
  width: 300px;
  margin: -13px -13px 0px;
  padding: 0px;
  transition: .3s;
}
.wy-side-nav-search > a.heading.heading-extra-margin {
  margin-bottom: .4em;
}
.heading > span {
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: .4em;
}
.wy-side-nav-search > a.heading .logo-box {
  height: 50px;
  padding: 5px;
}
.wy-side-nav-search > a.heading .logo-box.logo-box-large {
  padding: 10px;
  height: 70px;
}
.wy-side-nav-search > a.heading .logo-box img.logo {
  height: 100%;
  padding: 0px;
}

/* Navigation bar */
.platform-navbar {
  position: fixed;
  top: 0px;
  left: 300px;
  width: calc(100vw - 300px);
  line-height: 50px;
  background-color: #1c1c1c;
}
.platform-navbar + div {
  margin-top: 50px;
}

/* Hide navigation bar on small screens */
@media (max-width: 768px) {
  .platform-navbar {
    display: none;
  }
}

/* Lay out navigation bar entries */
.platform-navbar ul {
  display: flex;
  flex: 1;
  transition: .3s;
}
.platform-navbar li {
  flex: 1;
  position: relative;
  transition: .3s;
  text-align: left;
  max-width: 12rem;
}
.platform-navbar .component > ul {
  left: 0;
  top: 100%;
  display: none;
  background-color: #1c1c1c;
}

/* Expand menus on hover */
.platform-navbar .component:hover > ul {
  display: block;
}

/* Links in navigation bar */
.platform-navbar a {
  display: block;
  text-align: center; /* Temporary: Remove once menus filled */
  /* padding-left: 1rem; Temporary: Restore once menus filled */
  color: #ffffff;
}

/* Highlight elements with coral on hover */
.wy-side-nav-search > a.heading:hover,
.platform-navbar .component:hover,
.platform-navbar .section:hover {
  background-color: #fa7268;
}

/* ----------------------------------
   Additional CSS for the PICOS Theme
   ---------------------------------- */

/* Allow line breaks in tables */
.wy-table-responsive table td {
  white-space: normal;
}

/* Fix margins for nested lists */
.rst-content .section ol p,
.rst-content .section ul p {
  margin-bottom: 0px;
}

/* Decrease inline reference code font size */
.rst-content tt.xref,
a .rst-content tt,
.rst-content tt.xref,
.rst-content code.xref,
a .rst-content tt,
a .rst-content code {
  font-size: 12px;
}

/* GitLab ribbon */
.gitlab-ribbon {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  position: fixed;
  top: 50px;
  right: -65px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  background-color: #2f2f2f;
  color: #fafafa;
  padding: 1px 50px 1px 50px;
  border-style: solid;
  border-color: #1c1c1c;
  border-width: 3px;
}
.gitlab-ribbon:hover {
  background-color: #444444;
}

/* Hide GitLab ribbon on small screens */
@media screen and (max-width: 1100px) {
  .gitlab-ribbon {
    display: none !important;
  }
}

/* Hide GitLab ribbon when printing */
@media print {
  .gitlab-ribbon {
    display: none !important;
  }
}
