[buildout]
parts = scripts docker
eggs = beat.core
develop = .
newest = false

[scripts]
recipe = bob.buildout:scripts

[docker]
recipe = collective.recipe.cmd
cmds = ./bin/python -c 'from beat.core.test.utils import pull_docker_test_images as f; f()'
on_install = true
on_update = true
