; -*- coding: utf-8 -*-
; {{ date }}

[buildout]
parts = scripts
develop = .
eggs = {{ name }}
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
